@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Fustat", sans-serif;
}
::-moz-selection {
  background-color: white;
  color: white;
}
::selection {
  background-color: white;
  color: white;
}
